*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
/* .header{

} */

body{
  /* height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content:flex-start;
  align-content: center;
}
.container{
 display:flex;
 
 align-items: center;
 justify-content: center;
 align-items: stretch;
 text-align: center;
 margin:60px;
 padding:inherit;
 align-content: stretch;
}

input{

margin-top: 60%;
height: 35px;
margin:5px 5px;
padding: 7px;
width: 200%;
border-radius: 5%;

}

input::placeholder{
  color: blue;
}

button{
height: 35px;
margin:5px 5px;
padding: 7px;
width: 200%;
color: white;
background-color: plum;
border-radius: 5%;
}

button:hover{
  color: rgb(20, 48, 48);
  background-color: blue;
}

footer{
  /* display: flex;
  flex-direction: column;
  justify-content:baseline;
  background-color: rgb(23, 23, 33);
  font-size: 8px;
  color: white;
  padding-left: 20px;
  padding: 10px;
  height: 10vh;
  bottom:60%; */
  position: absolute;
  background-color: black;
  text-align:center;
  width: 100%;
  color:white;
  height: 10vh;
  bottom:0;


}